body{
    background-color: #e5e5e5;

}

.nav-extended{

    background-image: url("img/capa.jpeg");
    /*background-size: cover;*/
    background-blend-mode: soft-light;
}

.nav-reader h1{
   color: #b71c1c; 
   text-shadow: 4px 4px 8px #ffffff;
   font-size: 200px;
   font-family: Stencil Std, fantasy;
}

.preto{
    color: rgb(0, 0, 0);
}
